* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Funnel Display', sans-serif;
    font-weight: normal;
    height: auto;
    /* overflow: scroll; */
}

body {
    /* background: linear-gradient(135deg, #1e0233 0%, #6a0dad 50%, #d3d3d3 100%); */
    background-color: #0B2B36;
    color: #F6F8D9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vw;
    /* overflow: scroll; */
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 0.7rem;
    font-weight: 100;
}

.container {
    background: #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0px;
    color: #FFA622;
    font-family: 'DynaPuff', sans-serif;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #DDE278;
}

button {
    background: #DDE278;
    border: none;
    border-radius: 5px;
    color: #1e0233;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background 0.3s ease;
    margin: 12px;
}

button:hover {
    background: #c0c468;
}

  .tooltip {
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: #195366;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    z-index: 1000;
  }

  a {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f8ddd9;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
  }

  a:hover {
    color: #FFA622;
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
  }

  @media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 5px 0;
    }
}

