* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Funnel Display', sans-serif;
    font-weight: normal;
    height: auto;
    /* overflow: hidden; */
}

body {
    /* background: linear-gradient(135deg, #1e0233 0%, #6a0dad 50%, #d3d3d3 100%); */
    background-color: #1C1A1B;
    color: #F7EEDF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vw;
    /* overflow: scroll; */
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 0.7rem;
    font-weight: 100;
}

.container {
    background: #F7EEDF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0px;
    color: #F7EEDF;
    font-family: 'Funnel Display', sans-serif;
    font-weight: bolder;
    text-align: left;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    color: #F7EEDF;
    font-family: 'Funnel Display', sans-serif;
    font-weight: bolder;
    text-align: left;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    text-align: left;
    font-size: 1.2rem;
    font-family: 'Funnel Display', sans-serif;
    padding-left: 40px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #F7EEDF;
    /* font-size: 0.6rem;                  
    color: #1e0233; */
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: left;
}

button {
    background: white;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    padding: 16px 48px;
    transition: background 0.3s ease;
    /* margin-bottom: 16px; */
    margin: 16px;
    display: flex;
    justify-content: left;
    font-family: 'Funnel Display', sans-serif;
    white-space: nowrap;
}

button:hover {
    background: none;
    font-weight: bolder;
    border: white 2px solid;
    color: white;
    transition: background 0.7s ease;

}

  a {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #F7EEDF;
    text-align: left;
    text-decoration: none;
    display: block;
    margin: 0;
  }

  a:hover {
    color: #fef9ff;
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
    font-weight: bolder;
    transition: color 0.3s ease;
  }

  @media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 5px 0;
    }
}


