* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funnel Display", sans-serif;
  font-weight: normal;
  height: auto;
  /* overflow: hidden; */
}

body {
  /* background: linear-gradient(135deg, #1e0233 0%, #6a0dad 50%, #d3d3d3 100%); */
  background-color: #1c1a1b;
  color: #f7eedf;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vw;
  /* overflow: scroll; */
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 0.7rem;
  font-weight: 100;
}

.container {
  background: #f7eedf;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0px;
  color: #f7eedf;
  font-family: "Funnel Display", sans-serif;
  font-weight: bolder;
  text-align: left;
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

h2 {
  font-size: 1.4rem;
  color: #f7eedf;
  font-family: "Funnel Display", sans-serif;
  font-weight: bolder;
  text-align: left;
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
}

ul {
  list-style-type: square;
  list-style-position: outside;
  text-align: left;
  font-size: 1.2rem;
  font-family: "Funnel Display", sans-serif;
  padding-left: 40px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #f7eedf;
  /* font-size: 0.6rem;                  
    color: #1e0233; */
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: left;
}

button {
  background: white;
  border: white 2px solid;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding: 16px 48px;
  transition: background 0.3s ease;
  /* margin-bottom: 16px; */
  margin: 16px;
  display: flex;
  justify-content: left;
  font-family: "Funnel Display", sans-serif;
  white-space: nowrap;
}

button:hover {
  background: none;
font-weight: bolder;
transform: scale(1.05);
  border: white 2px solid;
  color: white;
  transition: background 0.7s ease;
}

a {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #f7eedf;
  text-align: left;
  text-decoration: none;
  display: block;
  margin: 0;
}

a:hover {
  color: #fef9ff;
  text-decoration: underline;
  transition: text-decoration 0.3s ease;
  font-weight: bolder;
  transition: color 0.3s ease;
}

@media (max-width: 600px) {
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 5px 0;
  }
}

.top-nav {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 10px 20px;
  flex-wrap: wrap;
  gap: 20px; /* Adds spacing between elements */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 64px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #f7eedf;
  white-space: nowrap;
}

.nav-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .top-nav {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}


