.tooltip {
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: #195366;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    z-index: 1000;
  }