.tooltip {
  position: absolute;
  
  transform: translate(-50%, -50%);
  background-color: #23222287;
  padding: 24px;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
  z-index: 1000;
  width: 30%;
}

/* .tooltip img {
  display: block;
  margin-top: 10px;
} */
